
* { 
    box-sizing: border-box;
}

body {
    background-image: url("../images/gravel.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.midcontainer {
    padding: 25px;
    border: 2px solid #cccccc;
    background: white;
    margin-top: 25px;
}

.navbar-light .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: #4aaaa5;
    color: white;
    font-size: 30px;
    padding: 30px;

}

.midcontainer h1 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 5px;
}

.img-thumbnail {
    margin-left: 15px;
    margin-top: 15px;
}

p {
    margin-top: 15px;
    margin-right: 5px;
    padding:0;
}

.picture {
    height: 200px;
    width: 200px;
    
}

.btn {
    background-color: #4aaaa5;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    margin-right:50px;
    float: left;
}
.container2 {
    position: relative;
    text-align: center;
    color: white;
    width: 200px; 
    height: 200px; 
    float: right;
}

.label {
    position: absolute;
    bottom: 8px;
    background: #4aaaa5;
    width: 200px;
    height: 25px;
}
.row1 {
    margin-left: 0;
    margin-bottom: 25px;
}
.container2 {
    float: left;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    color:white ;
    padding-top: 50px;
    margin-top: 50px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
}
